doctype html
html
  head
    title Error Page
    style.
      .error-view {
        text-align: center;
        margin-top: 100px;
      }
      .error-view h1 {
        font-size: 3em;
      }
      .error-view p {
        font-size: 1.5em;
      }
  body
    .error-view
      h1 Error 404 - Not Found
      p This project is a work in progress :)
