//- doctype html
//- html
//-   head
//-     title Error Page
//-     style.
//-       .error-view {
//-         text-align: center;
//-         margin-top: 100px;
//-       }
//-       .error-view h1 {
//-         font-size: 3em;
//-       }
//-       .error-view p {
//-         font-size: 1.5em;
//-       }
//-   body
//-     .error-view
//-       h1 Error 404 - Not Found
//-       p This project is a work in progress :)

doctype html
html
  head
    title Heyoh
    style.
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: 'Comic Sans MS', sans-serif; /* Just to add a sprinkle of humor! */
      }
      h1 {
        text-align: justify;
      }
  body
    h1 Hello Berlin Erste Crew :)
