doctype html
html
  head
    title Funny Users Page
    style.
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: 'Comic Sans MS', sans-serif; /* Just to add a sprinkle of humor! */
      }
      h1 {
        text-align: justify;
      }
  body
    h1 Hello Berlin Erste Crew :)
