/* Define CSS variables at the root level of the document to make them available globally */
:root {
  --nav-background1: #2bae66;
  --nav-background: rgb(47, 103, 177);
  --nav-hover-text: #474747;
}

/* This setting makes it so that the content of the page appears below the navbar */
.spacer {
  padding-top: 3em;
}

.full-height-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Styling specific to booking section, including font and background */
.site-background {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-image: url('./img/calas-front-pic.jpg'); /* Background image */
  background-size: cover; /* Covering entire container */
  background-position: center; /* Centering background image */
}

/* Semi-transparent overlay for background */
/* .site-background::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(47, 103, 177, 0.6);
} */
